---
import { getCollection, render } from "astro:content";
import config, { monolocale } from "$config";
import Time from "$utils/time";
import Base from "$layouts/Base.astro";
import Comments from "$components/comment/Section.astro";
import i18nit from "$i18n";
import { matchesLocaleID, slugFromID } from "$utils/content-id";
import { hasMathContent } from "$utils/math";

export async function getStaticPaths() {
	// Create path for each locale, omitting default locale from URL
	return config.i18n.locales.map(locale => ({ params: { locale: config.i18n.defaultLocale === locale ? undefined : locale } }));
}

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const prefaces = (
	await getCollection("preface", preface => {
		return matchesLocaleID(preface.id, locale, config.i18n.defaultLocale, monolocale, config.i18n.locales);
	})
).sort((a, b) => b.data.timestamp.getTime() - a.data.timestamp.getTime());

// Render each entry
const entries = await Promise.all(prefaces.map(async preface => ({ ...preface, routeID: slugFromID(preface.id, config.i18n.locales), content: (await render(preface)).Content })));
const math = prefaces.some(preface => hasMathContent(preface.body));
---

<Base title={t("navigation.preface")} {locale} {math}>
	<main class="flex flex-col">
		<h2>{t("home.prefaces")}</h2>
		<ul class="flex flex-col list-none">
			{
				entries.map(preface => [
					<hr class="my-5 border-b border-primary" />,
					<li id={preface.routeID}>
						<time datetime={preface.data.timestamp.toISOString()} class="block mb-5 font-bold text-xl">
							{Time.toLocaleString(preface.data.timestamp, locale)}
						</time>
						<article class="markdown">
							<preface.content />
						</article>
						<blockquote class="mb-4">
							<Comments compact={true} {locale} link={`${Astro.url.origin}${Astro.url.pathname}#${preface.routeID}`} section="preface" item={preface.routeID} />
						</blockquote>
					</li>
				])
			}
		</ul>
	</main>
</Base>
